<!DOCTYPE html>

<!--[if lt IE 7]>      <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" ng-app="myApp" ng-controller="appCtrl" class="no-js" > <!--<![endif]-->



<head>
  <!-- <link rel="stylesheet" href="css/reset.css"> -->
  <meta charset="utf-8">

  <title>300 Entertainment</title>
  <meta http-equiv="x-ua-compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1">

  <meta name="description" content="F*** The Cake, We Want The Bands. An Independent American Record Label">
  <meta name="robots" content="noodp">
  <meta name="keywords" content="FETTY WAP, YOUNG THUG, COHEED AND CAMBRIA, CONRAD SEWELL, HIGHLY SUSPECT, MIGOS (QC), THE HUNNA, MAINLAND, T WAYNE, COAST MODERN (+1 RECORDS), TATE KOBANG, DEMO TAPED, DAE DAE, MEG MAC, REJJIE SNOW, TK N CASH, ANNA OF THE NORTH (+1 RECORDS), ASTR, ALEX WINSTON, RICH THE KID (QC), COBI, RIFF RAFF, ERIC BELLINGER, RAZ SIMONE, SHY GLIZZY, ROBB BANKS, JOHNNY CINCO, SLAPTOP (+1 RECORDS), KIRKO BANGZ, PANAMA, PHONY PPL, CHUCK ADAMS, DP, MIKE STUD, DEREK KING, LOONI, Maggie Lindelmann">

  <meta name="msapplication-TileColor" content="#e60000">
  <meta name="msapplication-TileImage" content="http://300ent/public/assets/300_social_logo.jpg">
  <meta name="twitter:card" content="summary">
  <meta name="twitter:creator" content="@">
  <meta name="twitter:site" content="@300">
  <meta name="twitter:title" content="300 Entertainment">
  <meta name="twitter:description" content="F*** The Cake, We Want The Bands. An Independent American Record Label">
  <meta name="twitter:image" content="http://300ent/public/assets/300_social_logo.jpg">

  <link rel="canonical" href="http://300ent.com/">
  <meta property="og:locale" content="en_US">
  <meta property="og:type" content="website">
  <meta property="og:title" content="300 Entertainment">
  <meta property="og:description" content="F*** The Cake, We Want The Bands. An Independent American Record Label">
  <meta property="og:url" content="http://300ent.com/">
  <meta property="og:site_name" content="300 Entertainment">





  <meta name=“author” title=“Elia Fornari | Qual Agency”>
  <link rel=”author” href=”https://plus.google.com/u/1/+eliafornarichannel”/>



<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-51241224-1', 'auto');
  ga('send', 'pageview');

</script>


<!--
=======================================================================

    Chapter | 2016

    Designed and developed by Elia Fornari | Qual Agency

=======================================================================

-->



<!-- FAVICON FOR ALL KINDS OF DEVICES AND BROWSERS -->
<link rel="icon" type="image/x-icon" href="assets/300_favicon.ico" />

  <!-- <meta name="fragment" content="!"> -->

  <base href="/">


</head>



<!-- .................................. Body ...............................-->

<body page-loading-spinner>


<nav-mobile-directive></nav-mobile-directive>
<nav-directive></nav-directive>

<header ng-controller="navCtrl" class="header" ng-click="openNav()">
  <div class="header-wrapper">
    <logo-directive></logo-directive>
  </div>
</header>





  <div ng-show="pageLoading" class="page-loader-div">

    <div class="time" ng-class="{'timeOn' : showTime}">
      <p>{{time}}</p>
    </div>

    <p class="loading-p">
      loading...
    </p>

  </div>





  <!-- .................................. Main ...............................-->

  <main ng-view class='main' autoscroll="true" ng-class="{scrolledSplash: !firstLoading}">
  </main>




  <div class="landscape-view-wrapper" ng-show="landscapeView">

    <div class="landscape-view-div"><p class="landscape-view-p">please rotate the device for the best website experience</p></div>
      <div class = "logo-landscape" >
        <!-- ng-click="gotoAnchor('body')" -->
      <logo-directive></logo-directive>
      </div>
  </div>


  <artist-directive></artist-directive>
  <release-directive></release-directive>
  <journal-directive></journal-directive>
  <about-directive></about-directive>
  <contact-directive></contact-directive>
  <close-right-directive></close-right-directive>
  <close-left-directive></close-left-directive>

</body>


<!-- <script async type="text/javascript" src="/node_modules/prismic.io/dist/prismic.io.min.js"></script> -->
<!-- <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.js"></script> -->

<!-- <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<script src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script> -->
<!-- <script src="https://code.jquery.com/ui/1.11.4/jquery-ui.js"></script> -->
<!-- <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-route.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-resource.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-loader.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-touch.min.js"></script> -->
<link async rel="stylesheet" type="text/css" href="dist/style.min.css"/>
<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>


  <script type="text/javascript" src="dist/bundle.min.js"></script>

</html>
