.release{
  width: 90vw;
  height: 100vh;
  left:-90vw;
  z-index: 11;
  position: fixed;
  overflow-y:scroll;
  background-color: #FFFFFF;
  @include respond-to(phone){
    width: 100vw;
    left:-100vw;
  }
}


.release-item{
  width: 90vw;
  height: 100vh;
  position: relative;
  @include respond-to(phone){
    width: 100vw;
  }
}

.release-table{
  width: 100%;
  height: 100%;
  .release-tr{
    .release-td{
      vertical-align: middle;
      height: 100%;
      @include respond-to(phone){
        vertical-align: top;
      }

      .release-main{
        width: 600px;
        height:400px;
        left: 50%;
        margin-left: -300px;
        position: relative;
        perspective: 800px;
        @include respond-to(phone){
          width: 80vw;
          margin-left: -40vw;
          // top:0;
          margin-top: $margin-sides-mobile;
        }
        .release-main-content{
          position: absolute;
          width: 100%;
          width: 100%;
          .release-main-name{
            // @include header('black', no);
            @include title();
          }
          .release-main-artist{
            @include list();
            display:block;
          }
          .release-main-image{
            position: relative;
            left:0;
            width: 300px;
            height: 300px;
            float: left;
            background-repeat: no-repeat;
            background-size: 100%;
            background-position: center;
          }
          .release-main-links{
            position: relative;
            right: 0;
            width: 285px;
            height: 300px;
            float: left;
            margin-left: 15px;
            @include respond-to(phone){
              margin-left: 0;
            }
            .release-main-links-li{
              a{
                width: 300px;
                text-align: center;
                @include header('red','yes');
                @include title();
              }
            }
            .release-play{
              position: absolute;
              left:0;
              bottom: 0;
              a{
                width: 300px;
                text-align: center;
                @include header('red','yes');
                @include title();
              }
            }
          }
        }//release main content
        .release-main-video{
          background-color: #000000;
          .release-main-video-close{
            width: 70px;
            height: 50px;
            position: absolute;
            left:0;
            top:0;
            svg{
              width:100%;
              height:100%;
              line{
                color: #FFFFFF;
              }
            }


          }
          .release-main-video-iframe{
            width:100%;
            height:100%;
            transform-style: preserve-3d;
            backface-visibility: hidden;

          }
        }

      }
    }
  }
}





.release-main-content{
  width: 100%;
  height: 100%;


  position: absolute;
  transform-style: preserve-3d;
  transition: transform 0.5s;
  backface-visibility: hidden;
}
.release-main-video{
  width: 100%;
  height: 100%;
  position: absolute;
  transform-style: preserve-3d;
  transition: transform 0.5s;
  backface-visibility: hidden;
  transform: rotateX( 180deg );
}


.release-main-content.release_flipped{
  transform: rotateX( 180deg );
}

.release-main-video.release_flipped{
  transform: rotateX( 360deg ) !important;
}


@include keyframes('r_slideRight', 'r_slideLeft', 'translateX(0vw)', 'translateX(90vw)', 'translateX(0vw)', 'translateX(100vw)');

//
// @keyframes r_slideLeft {
//   0% { @include transform-element(translateX(90vw)); }
//   100% { @include transform-element(translateX(0vw)); }
// }
//
// @-webkit-keyframes r_slideLeft {
//   0% { @include transform-element(translateX(90vw)); }
//   100% { @include transform-element(translateX(0vw)); }
//   @include respond-to(phone){
//     0% { @include transform-element(translateX(100vw)); }
//     100% { @include transform-element(translateX(0vw)); }
//   }
// }
//
// @-moz-keyframes r_slideLeft {
//   0% { @include transform-element(translateX(90vw)); }
//   100% { @include transform-element(translateX(0vw)); }
//   @include respond-to(phone){
//     0% { @include transform-element(translateX(100vw)); }
//     100% { @include transform-element(translateX(0vw)); }
//   }
// }
//
// @-ms-keyframes r_slideLeft {
//   0% { @include transform-element(translateX(90vw)); }
//   100% { @include transform-element(translateX(0vw)); }
//   @include respond-to(phone){
//     0% { @include transform-element(translateX(100vw)); }
//     100% { @include transform-element(translateX(0vw)); }
//   }
// }
//
// @-o-keyframes r_slideLeft {
//   0% { @include transform-element(translateX(90vw)); }
//   100% { @include transform-element(translateX(0vw)); }
//   @include respond-to(phone){
//     0% { @include transform-element(translateX(100vw)); }
//     100% { @include transform-element(translateX(0vw)); }
//   }
// }
//
//
//
// @keyframes r_slideRight {
//   0% { @include transform-element(translateX(0vw)); }
//   100% { @include transform-element(translateX(90vw)); }
//   @include respond-to(phone){
//     0% { @include transform-element(translateX(0vw)); }
//     100% { @include transform-element(translateX(100vw)); }
//   }
// }
//
// @-webkit-keyframes r_slideRight {
//   0% { @include transform-element(translateX(0vw)); }
//   100% { @include transform-element(translateX(90vw)); }
//   @include respond-to(phone){
//     0% { @include transform-element(translateX(0vw)); }
//     100% { @include transform-element(translateX(100vw)); }
//   }
// }
//
// @-moz-keyframes r_slideRight {
//   0% { @include transform-element(translateX(0vw)); }
//   100% { @include transform-element(translateX(90vw)); }
//   @include respond-to(phone){
//     0% { @include transform-element(translateX(0vw)); }
//     100% { @include transform-element(translateX(100vw)); }
//   }
// }
//
// @-ms-keyframes r_slideRight {
//   0% { @include transform-element(translateX(0vw)); }
//   100% { @include transform-element(translateX(90vw)); }
//   @include respond-to(phone){
//     0% { @include transform-element(translateX(0vw)); }
//     100% { @include transform-element(translateX(100vw)); }
//   }
// }
//
// @-o-keyframes r_slideRight {
//   0% { @include transform-element(translateX(0vw)); }
//   100% { @include transform-element(translateX(90vw)); }
//   @include respond-to(phone){
//     0% { @include transform-element(translateX(0vw)); }
//     100% { @include transform-element(translateX(100vw)); }
//   }
// }

.release.ng-hide{
    @include transform-element(translateX(0vw));
}


$animation-bezier: ease-in;
$animation-speed: 0.3s;

.release{
  position: fixed;
  top: 0;
  // right: $margin-sides;
  // bottom: $margin-sides;
  @include transform-element(translateX(90vw));
  @include respond-to(phone){
    @include transform-element(translateX(100vw));
  }
}



.release.ng-hide-remove.ng-hide-remove-active{
  -webkit-animation: r_slideRight $animation-speed $animation-bezier;
  -moz-animation: r_slideRight $animation-speed $animation-bezier;
  -ms-animation: r_slideRight $animation-speed $animation-bezier;
  -o-animation: r_slideRight $animation-speed $animation-bezier;
  animation: r_slideRight $animation-speed $animation-bezier;
}

.release.ng-hide-add.ng-hide-add-active{
  -webkit-animation: r_slideLeft $animation-speed $animation-bezier;
  -moz-animation: r_slideLeft $animation-speed $animation-bezier;
  -ms-animation: r_slideLeft $animation-speed $animation-bezier;
  -o-animation: r_slideLeft $animation-speed $animation-bezier;
  animation: r_slideLeft $animation-speed $animation-bezier;
}
