.release{
  width: 90vw;
  height: 100vh;
  left:-90vw;
  z-index: 11;
  position: fixed;
  background-color: #FFFFFF;
}




.release-table{
  width: 100%;
  height: 100%;
  .release-tr{
    .release-td{
      vertical-align: middle;
      height: 100%;

      .release-main{
        width: 600px;
        height:400px;
        left: 50%;
        margin-left: -300px;
        position: relative;
        perspective: 800px;
        .release-main-content{
          position: absolute;
          width: 100%;
          width: 100%;
          .release-main-name{
            @include header('red', no);
          }
          .release-main-artist{
            font-size: $font-size-subtitle;
            line-height: $line-height-subtitle;
            color: $red;
          }
          .release-main-image{
            position: relative;
            left:0;
            width: 300px;
            height: 300px;
            float: left;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
          }
          .release-main-links{
            position: relative;
            right: 0;
            width: 285px;
            height: 300px;
            float: left;
            margin-left: 15px;
            .release-main-links-li{
              a{
                width: 300px;
                text-align: center;
                @include header('red','yes');
              }
            }
            .release-play{
              position: absolute;
              left:0;
              bottom: 0;
              a{
                width: 300px;
                text-align: center;
                @include header('red','yes');
              }
            }
          }
        }//release main content
        .release-main-video{
          background-color: #000000;
          .release-main-video-close{
            width: 70px;
            height: 50px;
            position: absolute;
            left:0;
            top:0;
            svg{
              width:100%;
              height:100%;
              line{
                color: #FFFFFF;
              }
            }


          }
          .release-main-video-iframe{
            width:100%;
            height:100%;
            transform-style: preserve-3d;
            backface-visibility: hidden;

          }
        }

      }
    }
  }
}





.release-main-content{
  width: 100%;
  height: 100%;


  position: absolute;
  transform-style: preserve-3d;
  transition: transform 0.5s;
  backface-visibility: hidden;
}
.release-main-video{
  width: 100%;
  height: 100%;
  position: absolute;
  transform-style: preserve-3d;
  transition: transform 0.5s;
  backface-visibility: hidden;
  transform: rotateX( 180deg );
}


.release-main-content.release_flipped{
  transform: rotateX( 180deg );
}

.release-main-video.release_flipped{
  transform: rotateX( 360deg ) !important;
}





@keyframes r_slideLeft {
  0% { @include transform-element(translateX(90vw)); }
  100% { @include transform-element(translateX(0vw)); }
}

@-webkit-keyframes r_slideLeft {
  0% { @include transform-element(translateX(90vw)); }
  100% { @include transform-element(translateX(0vw)); }
}

@-moz-keyframes r_slideLeft {
  0% { @include transform-element(translateX(90vw)); }
  100% { @include transform-element(translateX(0vw)); }
}

@-ms-keyframes r_slideLeft {
  0% { @include transform-element(translateX(90vw)); }
  100% { @include transform-element(translateX(0vw)); }
}

@-o-keyframes r_slideLeft {
  0% { @include transform-element(translateX(90vw)); }
  100% { @include transform-element(translateX(0vw)); }
}



@keyframes r_slideRight {
  0% { @include transform-element(translateX(0vw)); }
  100% { @include transform-element(translateX(90vw)); }
}

@-webkit-keyframes r_slideRight {
  0% { @include transform-element(translateX(0vw)); }
  100% { @include transform-element(translateX(90vw)); }
}

@-moz-keyframes r_slideRight {
  0% { @include transform-element(translateX(0vw)); }
  100% { @include transform-element(translateX(90vw)); }
}

@-ms-keyframes r_slideRight {
  0% { @include transform-element(translateX(0vw)); }
  100% { @include transform-element(translateX(90vw)); }
}

@-o-keyframes r_slideRight {
  0% { @include transform-element(translateX(0vw)); }
  100% { @include transform-element(translateX(90vw)); }
}

.release.ng-hide{
    @include transform-element(translateX(0vw));
    // animation: slideUp 0.4s ease;
}


$animation-bezier: ease-in;
$animation-speed: 0.3s;

.release{
  position: fixed;
  // right: $margin-sides;
  // bottom: $margin-sides;
  @include transform-element(translateX(90vw));
}



.release.ng-hide-remove.ng-hide-remove-active{
  -webkit-animation: r_slideRight $animation-speed $animation-bezier;
  -moz-animation: r_slideRight $animation-speed $animation-bezier;
  -ms-animation: r_slideRight $animation-speed $animation-bezier;
  -o-animation: r_slideRight $animation-speed $animation-bezier;
  animation: r_slideRight $animation-speed $animation-bezier;
}

.release.ng-hide-add.ng-hide-add-active{
  -webkit-animation: r_slideLeft $animation-speed $animation-bezier;
  -moz-animation: r_slideLeft $animation-speed $animation-bezier;
  -ms-animation: r_slideLeft $animation-speed $animation-bezier;
  -o-animation: r_slideLeft $animation-speed $animation-bezier;
  animation: r_slideLeft $animation-speed $animation-bezier;
}
