
<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 width="2013.214px" height="1376.078px" viewBox="0 0 2013.214 1376.078" enable-background="new 0 0 2013.214 1376.078"
	 xml:space="preserve">
<rect x="65.047" y="65.031" fill="#FFFFFF" stroke="#000000" stroke-width="170" stroke-miterlimit="10" width="1883" height="1246"/>
<polyline fill="none" stroke="#000000" stroke-width="170" stroke-miterlimit="10" points="65.047,65.031 1006.547,802.862
	1948.047,65.031 "/>
</svg>
