.home{
  position: relative;
  @include respond-to(phone){
    width: 100vw;
    height: calc(100vh - 60px);
    overflow:hidden;
  }
}




.home-content{
    position: relative;
    width:100vw;
    height:100vh;
    @include respond-to(phone){
      width: 100vw;
      height: calc(100vh - 60px);
      overflow:hidden;
    }
}


.home-glass{
  background-color: transparent;
  position: fixed;
  top:0;
  left:0;
  z-index:$z-home-glass;
  width: 100vw;
  height: 100vh;
}




.home-artists{
  width: 25vw;
  height: 100vh;
  position: fixed;
  left:0;
  background-color: $black;
  z-index:$z-home-artist;
  @include respond-to(phone){
    width: 100vw;
    z-index:$z-home-artist-mobile;
    height: calc(100vh - 60px);
    overflow: scroll;
  }



  .home-artists-table{
    width: 100%;
    height: 100%;
    display: block;
    overflow-y: scroll;
    height:90vh;
    margin-top: 70px;
    @include respond-to(phone){
      margin-top: 0;
      overflow:auto;
      height: auto;
      display: table;
      // height:calc(100vh - 60px);
    }
    // .home-artists-tr{
    //   .home-artists-td{
    //     vertical-align: middle;
    //     height: 100%;
        .home-artists-ul{
          margin-left: $margin-sides;
          @include respond-to(phone){
            margin-top: $margin-sides-mobile;
            margin-left: $margin-sides-mobile;
            margin-bottom: $margin-sides-mobile;
          }
          .home-artists-li{
            height: $line-height-subtitle;
            overflow: hidden;
            @include respond-to(phone){
              height: auto;
            }
            p{
              @include header('white', yes);
              @include list();
              color: #FFFFFF;
            }

          }
        }
    //   }
    // }
  }
}


.artistSelected{
  p{
    color: $red !important;
  }
}












.home-release{
  position: fixed;
    left: 25vw;
    width: 25vw;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: scroll;
    @include respond-to(phone){
      width: 100vw;
      left:0;
    }
    .home-release-placeholder{
      position: absolute;
      width: 100%;
      height: 100vh;
      background-color: rgba(255, 255, 255, 0.9);
      z-index: 19;
      p{
        position: absolute;
        right: $margin-sides;
        top:50%;
        width:auto;
        @include header('red', no);
      }
    }
  .home-release-ul{
    display: table;
    width: 100%;
    height: auto;
    .home-release-li{
      width: 25vw;
      height: 25vw;
      display:block;
      @include respond-to(phone){
        width: 100vw;
        height: 100vw;
      }

      .home-release-cover{
        width: 100%;
        height: 100%;
       perspective: 800px;
       position: relative;

        .front{
          width: 100%;
          height: 100%;
          background-repeat: no-repeat;
          background-size: 100% 100%;

          position: absolute;
          // transform-style: preserve-3d;
          // transition: transform 0.5s;
          // backface-visibility: hidden;
        }
        .back{
          width: 100%;
          height: 100%;
          position: absolute;
          background: #000000;
          // transform-style: preserve-3d;
          // transition: transform 0.5s;
          // backface-visibility: hidden;
          // transform: rotateX( 180deg );

          .back-content{
            width: 100%;
            height: auto;
            position: absolute;
            top:50%;
            @include center-transform(0, -50%);
            // transform-style: preserve-3d;
            // backface-visibility: hidden;
            p{
              width: 100%;
              text-align: center;
              font-size: $font-size-list;
              line-height: normal;
              // transform-style: preserve-3d;
              // backface-visibility: hidden;
              color: #FFFFFF;
            }
            .back-content-name{
            }
            .back-content-artist{

            }
          }

        }


      }
    }
  }
}



//
// .front.flipped{
//   transform: rotateX( 180deg );
// }
//
// .back.flipped{
//   transform: rotateX( 360deg ) !important;
// }
//
.back{
  opacity:1;
}
.back.ng-hide{
  opacity:0;
}

$animation-speed:0.5s;

.back.ng-hide-remove.ng-hide-remove-active{
  -webkit-transition: opacity $animation-speed $animation-bezier;
  -moz-transition: opacity $animation-speed $animation-bezier;
  -ms-transition: opacity $animation-speed $animation-bezier;
  -o-transition: opacity $animation-speed $animation-bezier;
  transition: opacity $animation-speed $animation-bezier;
}

.back.ng-hide-add.ng-hide-add-active{
  -webkit-transition: opacity $animation-speed $animation-bezier;
  -moz-transition: opacity $animation-speed $animation-bezier;
  -ms-transition: opacity $animation-speed $animation-bezier;
  -o-transition: opacity $animation-speed $animation-bezier;
  transition: opacity $animation-speed $animation-bezier;
}



.home-live{
  width: 25vw;
  left: 50vw;
  position: fixed;
  z-index: $z-home-live;
}

.home-live-links{
  height:50vh;
  width: 100%;
  position: relative;
  .home-live-links-ul{
    position: absolute;
    top: 50%;
    left:10%;
    @include center-transform(0, -50%);
    .home-live-links-li{
      line-height: $line-height-subtitle;
      a{
        @include header('red', yes);
        font-size: $font-size-subtitle;
        line-height: $line-height-subtitle;
      }


    }
  }

}






.home-live-widget{
  width: 100%;
  height: 50vh;
  p{
    position: relative;
    width: 90%;
    left:10%;
    @include header('red', no);
    font-size: $font-size-subtitle;
    line-height: $line-height-subtitle;
  }
  iframe{
    position: relative;
    width: 80%;
    left: 10%;
    height: 40vh;
  }
}




















.home-journal{
  width: 50vw;
  height: 100vh;
  right: 0;
  position: fixed;
  z-index: $z-home-journal;
  overflow-y: scroll;
  @include respond-to(phone-device){
    width: 100vw;
    height: calc(100vh - 60px);
    background-color: #000000;
  }
  @include respond-to(phone){
    width: 100vw;
  }
}

.home-journal-ul{
  height: 100vh;
  width: 100%;
  .home-journal-li{
    float: left;
    width: 50vw;
    height:25vw;
    overflow-y: scroll;
    @include respond-to(phone){
      width: 100vw;
      height:50vw;
    }

    .home-journal-cover{
      width: 50vw;
      height: 25vw;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;

      @include respond-to(phone){
        width: 100vw;
        height:50vw;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;

      }


    }
  }
}
