<div class="home" summary="home" ng-controller="homeCtrl">



  <div class="splash" ng-show="firstLoading">
    <splash-directive></splash-directive>
  </div>




<div class="home-content" ng-hide="firstLoading">

  <div class="home-artists">
    <table class="home-artists-table">
      <tr class="home-artists-tr">
        <td class="home-artists-td">
          <ul class="home-artists-ul">
            <li class="home-artists-li" ng-click="openArtists(a.uid, $index)" ng-repeat="a in Artist"><p>{{a.data['artist.name'].value[0].text}}</p></li>
            <!-- <li class="home-artists-li" ng-click="openArtists('astr', '1')"><p>astr</p></li>
            <li class="home-artists-li" ng-click="openArtists('coastmodern', '2')"><p>coast modern</p></li> -->
          </ul>
        </td>
      </tr>
    </table>

  </div>

  <div class="home-release">
    <ul class="home-release-ul">
      <li ng-repeat="r in Release" class="home-release-li" ng-click="openRelease(r.uid, $index)">
        <div class="home-release-cover" ng-mouseenter="flip=true" ng-mouseleave="flip=false">
          <figure class="front" style=" background-image: url('{{r.data['release.cover'].value.main.url}}')" ng-class="{'flipped': flip}"></figure>
          <figure class="back" ng-class="{'flipped': flip}">
            <div class="back-content">
              <p class="back-content-name">{{r.data['release.name'].value[0].text}}</p>
              <p class="back-content-artist">by {{r.data['release.artist'].value[0].text}}</p>
            </div>
          </figure>
        </div>
      </li>
    </ul>
  </div>



  <div class="home-live">
    <div class="home-live-links">
      <ul class="home-live-links-ul">
        <li class="home-live-links-li"><a href="https://soundcloud.com/300-entertainment" target="_blank">soundcloud</a></li>
        <li class="home-live-links-li"><a href="https://www.instagram.com/300ent/?hl=en" target="_blank">instagram</a></li>
        <li class="home-live-links-li"><a href="https://www.facebook.com/300ent/" target="_blank">facebook</a></li>
        <li class="home-live-links-li"><a href="https://twitter.com/300" target="_blank">twitter</a></li>
        <li class="home-live-links-li"><a href="https://www.youtube.com/channel/UClO3VS7C-pHAoRh6fYddbLQ" target="_blank">youtube</a></li>
        <li class="home-live-links-li"><a href="http://300entertainment.tumblr.com/" target="_blank">tumblr</a></li>

      </ul>
    </div>

    <div class="home-live-widget">
      <iframe src="https://embed.spotify.com/?uri=spotify:user:300ent.:playlist:2sS4afzWcT47yevuw9Sn1f" width="300" height="380" frameborder="0" allowtransparency="true"></iframe>
    </div>
  </div>




  <div class="home-journal">
    <ul>
      <li></li>
    </ul>
  </div>

</div>






</div>










<!--
<form role="form" name="contactForm" ng-submit="searchFunction()" novalidate>
  First name: <input type="text" name="fname" ng-model="formData.artist"><br>

  <button type="submit" class="submit-button" ng-click="searchFunction()">SEND</button>
</form>




<div class="data">

  <p>{{data.name}}</p>

  <p>{{data.artists[0].name}}</p>

</div> -->
