<div class="home-content">

    <div class="home-artists">
      <div class="home-artists-table">
            <ul class="home-artists-ul">
              <li class="home-artists-li" ng-click="openArtists(a.uid, $index)" ng-repeat="a in Artist | orderBy:'artist.index' track by a.uid" ng-class="{artistSelected: a.uid == mainArtist}">
                <p>{{a.data['artist.name'].value[0].text}} <span ng-show="a.data['artist.subsidiaryRecordLabel'].value[0].text">({{a.data['artist.subsidiaryRecordLabel'].value[0].text}})</span></p>
              </li>
            </ul>

      </div>

    </div>

    <div class="home-release" ng-init="r_placeholder = false" ng-class="{blockScroll: firstLoading}">
      <div class="home-release-placeholder" ng-mouseover="r_placeholder = false" ng-show="r_placeholder">
        <p>
          RELEASES
        </p>
      </div>

      <ul class="home-release-ul" >
        <li ng-repeat="r in Release | orderBy: r.data['release.cover'].value" class="home-release-li" ng-click="openRelease(r.uid, $index)">
          <div class="home-release-cover" ng-mouseenter="flip=true" ng-mouseleave="flip=false">
            <figure class="front" style=" background-image: url('{{r.data['release.cover'].value.main.url}}')" ></figure>
            <!-- ng-class="{'flipped': flip}" -->
            <figure class="back" ng-show="flip">
              <!-- ng-class="{'flipped': flip}" -->
              <div class="back-content">
                <p class="back-content-name">{{r.data['release.name'].value[0].text}}</p>
                <p class="back-content-artist">by {{r.data['release.artistName'].value[0].text}}</p>
                 <!-- {{r.data['release.artist'].value[0].text}} -->
              </div>
            </figure>
          </div>
        </li>
      </ul>
    </div>






    <div class="home-journal" ng-class="{blockScroll: firstLoading}">
      <ul class="home-journal-ul">
        <li class="home-journal-li" ng-repeat="j in Journal" ng-click="openJournal(j.uid, $index)">
          <div class="home-journal-cover" style="background-image: url('{{j.data['journal.cover'].value.main.url}}')"></div>
        </li>
      </ul>
    </div>



</div>
