<div ng-style="fullHeight" class="about" ng-show="isView=='about'">
  <!-- ng-show="isAbout" -->

  <table class="about-table">
    <tr>
      <td>
        <div class="about-text">
          <h1>MISSION STATEMENT</h1>
          <p>
            To create an enduring music-based content company that has a tradition of high quality and risk taking and a real commitment to artist development. A creative hub, that empowers artists and their partners beyond the creation of music, by giving them access to tools and knowledge to remain independent and to be active participants in artist development.
          </p>
          <br>
          <p>An American Independent Record Label</p>
          <br>
          <p>
            Welcome to 300!
          </p>
          <br>

        </div>
      </td>
    </tr>
  </table>



</div>
