<div class="artist" id="artist" ng-show="isView=='artist'">



<div class="artist-content" id="artist-content-{{a.uid}}" ng-repeat="a in Artist">

    <div class="artist-main">

        <p class="artist-main-name">{{a.data['artist.name'].value[0].text}} <span ng-show="a.data['artist.subsidiaryRecordLabel'].value[0].text">({{a.data['artist.subsidiaryRecordLabel'].value[0].text}})</span></p>
        <div class="artist-main-image" style="background-image: url('{{a.data['artist.image'].value.main.url}}')"></div>
        <ul class="artist-main-links">
          <!-- <li class="artist-main-links-li" id="artist-main-website" ng-if="a.data['artist.website'].value.url">
            <a href="{{a.data['artist.website'].value.url}}" target="_blank">url</a>
          </li> -->
          <li class="artist-main-links-li" id="artist-main-youtube" ng-show="a.data['artist.youtube'].value.url">
            <a href="{{a.data['artist.youtube'].value.url}}" target="_blank">youtube</a>
          </li>
          <li class="artist-main-links-li" id="artist-main-itunes" ng-show="a.data['artist.itunes'].value.url">
            <a href="{{a.data['artist.itunes'].value.url}}" target="_blank">itunes</a>
          </li>
          <li class="artist-main-links-li" id="artist-main-spotify" ng-show="a.data['artist.spotify'].value.url">
            <a href="{{a.data['artist.spotify'].value.url}}" target="_blank">spotify</a>
          </li>
          <li class="artist-main-links-li" id="artist-main-apple" ng-show="a.data['artist.applemusic'].value.url">
            <a href="{{a.data['artist.applemusic'].value.url}}" target="_blank">apple music</a>
          </li>

          <li class="artist-main-links-li" id="artist-main-instagram" ng-show="a.data['artist.instagram'].value.url">
            <a href="{{a.data['artist.instagram'].value.url}}" target="_blank">instagram</a>
          </li>
          <li class="artist-main-links-li" id="artist-main-facebook" ng-show="a.data['artist.facebook'].value.url">
            <a href="{{a.data['artist.facebook'].value.url}}" target="_blank">facebook</a>
          </li>
          <li class="artist-main-links-li" id="artist-main-soundcloud" ng-show="a.data['artist.soundcloud'].value.url">
            <a href="{{a.data['artist.soundcloud'].value.url}}" target="_blank">soundcloud</a>
          </li>


          <li class="artist-main-links-li" id="artist-main-tumblr" ng-show="a.data['artist.tumblr'].value.url">
            <a href="{{a.data['artist.tumblr'].value.url}}" target="_blank">tumblr</a>
          </li>
          <li class="artist-main-links-li" id="artist-main-twitter" ng-show="a.data['artist.twitter'].value.url">
            <a href="{{a.data['artist.twitter'].value.url}}" target="_blank">twitter</a>
          </li>

        </ul>

    </div>

  </div>


</div>
