<div class="home" summary="home" ng-controller="homeCtrl" ng-class="{'chromium': isChrome}" ng-style = "fullHeight">



  <div class="splash" style="top:-{{splashScroll}}px !important;" ng-if="!isMobile && !isDevice && !removeSplashMobile">
    <!-- style="top:-{{splashScroll}}px !important;" -->
    <splash-directive></splash-directive>
  </div>

  <!-- Changed ng-if to ng-show -->
  <div class="splash" ng-class="{'splash_gone':removeSplashMobile2}" ng-style = "fullHeight" ng-show="isMobile && isDevice && !removeSplashMobile2">
    <splash-directive></splash-directive>
  </div>
<!-- ng-class="{'splash_gone':!firstLoading;}" -->
  <!-- ng-show="firstLoading" -->




<div class="home-content" ng-style = "fullHeight">

  <div class="home-artists" ng-style = "fullHeight" ng-hide="isMobile && hideHomeArtist" ng-class="{'chromium': isChrome}">
    <div class="home-artists-table">
          <ul class="home-artists-ul">
            <li class="home-artists-li" ng-repeat="a in Artist | orderBy:'artist.index' track by a.uid" ng-class="{artistSelected: a.uid == mainArtist}">
              <a href="/artist/{{a.uid}}">
                <p>{{a.data['artist.name'].value[0].text}} <span ng-show="a.data['artist.subsidiaryRecordLabel'].value[0].text">({{a.data['artist.subsidiaryRecordLabel'].value[0].text}})</span></p>
              </a>
            </li>
          </ul>
    </div>
  </div>

  <div class="home-release" ng-style = "fullHeight" ng-init="r_placeholder = false" ng-class="{blockScroll: firstLoading, 'chromium': isChrome}" ng-hide="isMobile && hideHomeRelease">
    <div class="home-release-placeholder" ng-mouseover="r_placeholder = false" ng-show="r_placeholder">
      <p>RELEASES</p>
    </div>

    <ul class="home-release-ul" >
      <li ng-repeat="r in Release.results | orderBy: r.data['release.cover'].value" class="home-release-li">
        <a href="/release/{{r.uid}}">
          <div class="home-release-cover" ng-mouseenter="flip=true" ng-mouseleave="flip=false">
            <figure class="front" style=" background-image: url('{{r.data['release.cover'].value.main.url}}')" ></figure>
            <!-- ng-class="{'flipped': flip}" -->
            <figure class="back" ng-show="flip">
              <!-- ng-class="{'flipped': flip}" -->
              <div class="back-content">
                <p class="back-content-name">{{r.data['release.name'].value[0].text}}</p>
                <p class="back-content-artist">by {{r.data['release.artistName'].value[0].text}}</p>
                 <!-- {{r.data['release.artist'].value[0].text}} -->
              </div>
            </figure>
          </div>
        </a>
      </li>
    </ul>
  </div>






  <div class="home-journal" ng-style = "fullHeight" ng-class="{blockScroll: firstLoading, 'chromium': isChrome}" ng-hide="isMobile && hideHomeJournal">
    <ul class="home-journal-ul">
      <li class="home-journal-li" ng-repeat="j in Journal.results">
        <a href="/journal/{{j.uid}}">
          <div class="home-journal-cover" style="background-image: url('{{j.data['journal.cover'].value.main.url}}')"></div>
        </a>
      </li>
    </ul>
  </div>





</div><!-- home content -->




<!-- <home-mobile-directive ng-if="isMobile"></home-mobile-directive> -->





</div>







  <!-- <div class="home-live">
    <div class="home-live-links">
      <ul class="home-live-links-ul">
        <li class="home-live-links-li"><a href="https://www.instagram.com/300ent/?hl=en" target="_blank">instagram</a></li>
        <li class="home-live-links-li"><a href="https://soundcloud.com/300-entertainment" target="_blank">soundcloud</a></li>
        <li class="home-live-links-li"><a href="https://www.facebook.com/300ent/" target="_blank">facebook</a></li>
        <li class="home-live-links-li"><a href="https://twitter.com/300" target="_blank">twitter</a></li>
        <li class="home-live-links-li"><a href="https://www.youtube.com/channel/UClO3VS7C-pHAoRh6fYddbLQ" target="_blank">youtube</a></li>
        <li class="home-live-links-li"><a href="http://300entertainment.tumblr.com/" target="_blank">tumblr</a></li>

        <li class="home-live-links-li"><a href="/contact">contact</a></li>
        <li class="home-live-links-li"><a href="/about">about</a></li>

      </ul>
    </div>

    <div class="home-live-widget">
      <p>{{channel_statistics.viewCount}} channel views</p>
      <p>{{channel_statistics.subscriberCount}} subscribers</p>
      <iframe src="https://embed.spotify.com/?uri=spotify:user:300ent.:playlist:2sS4afzWcT47yevuw9Sn1f" width="300" height="380" frameborder="0" allowtransparency="true"></iframe>
    </div>
  </div> -->




<!--
<form role="form" name="contactForm" ng-submit="searchFunction()" novalidate>
  First name: <input type="text" name="fname" ng-model="formData.artist"><br>

  <button type="submit" class="submit-button" ng-click="searchFunction()">SEND</button>
</form>




<div class="data">

  <p>{{data.name}}</p>

  <p>{{data.artists[0].name}}</p>

</div> -->
