/*....................................SCSS VARIABLES..................................*/

$z-nav: 4;
// ........................................................FONT FAMILIES



// ........................................................FONT WEIGHTS
$font-weight-light: 300;
$font-weight-regular: 400;




$font-family-title: camptonBold;
$font-family-subtitle: camptonBold;
$font-family-list: camptonBold;
$font-family-paragraph: camptonMedium;

// ........................................................FONT SIZES
$font-size-title:35px;
$font-size-subtitle:28px;
$font-size-list:15px;
$font-size-paragraph: 12px;

$font-size-title-mobile:20px;
$font-size-subtitle-mobile:17px;
$font-size-list-mobile:17px;
$font-size-paragraph-mobile:13px;








//letter spacing

$letter-spacing: 1px;



// ........................................................FONT LINEHEIGHTS
$line-height-title: 50px;
$line-height-subtitle: 30px;
$line-height-list: 30px;
$line-height-paragraph:30px;

$line-height-title-mobile:30px;
$line-height-subtitle-mobile:25px;
$line-height-list-mobile:30px;
$line-height-paragraph-mobile:25px;

// ........................................................TEXT PADDINGS
$padding-text: 5px;
$padding-left: 0px;
$padding-top:100px;
$padding-headline-bottom: 20px;



// ........................................................COLORS

$red: #e60000;
$white: #FFFFFF;
$black: #000000;
$red-rgba: rgba(230, 0, 0, 1);
$red-opaque: rgba(206, 17, 17, 0.4);



// ........................................................MARGINS
$margin-sides: 25px;
$margin-sides-mobile:15px;
$margin-bottom: 100px;
$margin-top: 20px;
$margin-bottom-mobile:60px;



// ........................................................TRANSITION TIMINGS
$transition-extreme-slow: 1.4s;
$transition-slow: .6s;
$transition-medium: .4s;
$transition-fast: .2s;



// ........................................................COLOR CHANGES




// ........................................................FADE INS
$smooth-scroll-timing: 1.4s;
$collection-fade-zero: .2s;
$collection-fade-out: .4s;
$collection-fade-in: 1.4s;


$z-loader: 999;
$z-splash-mobile:18;
$z-header: 14;
$z-header-mobile:14;
$z-nav: 13;
$z-close:12;
$z-home-glass:12;
$z-splash:11;

$z-nav-mobile:13;

$z-about:11;
$z-journal:11;
$z-splash-enter: 11;
$z-home: 10;


$z-home-artist:7;
$z-home-artist-mobile:5;
$z-main: 6;
$z-home-live: 6;
$z-artist: 6;
$z-home-journal:6;

/*....................................................................................*/
