

@font-face {
    font-family: camptonBlack;
    src: url('/assets/fonts/woff2/CamptonBlack.woff2') format('woff2'), url('/assets/fonts/woff/CamptonBlack.woff') format('woff'), url('/assets/fonts/otf/CamptonBlack.otf') format('opentype'), url('/assets/fonts/eot/CamptonBlack.eot') format('eot');
    font-style: normal;
}


@font-face {
    font-family: camptonBold;
    src: url('/assets/fonts/woff2/CamptonBold.woff2') format('woff2'), url('/assets/fonts/woff/CamptonBold.woff') format('woff'), url('/assets/fonts/otf/CamptonBold.otf') format('opentype'), url('/assets/fonts/eot/CamptonBold.eot') format('eot');
    font-style: normal;
}

@font-face {
    font-family: camptonMedium;
    src: url('/assets/fonts/woff2/CamptonMedium.woff2') format('woff2'), url('/assets/fonts/woff/CamptonMedium.woff') format('woff'), url('/assets/fonts/otf/CamptonMedium.otf') format('opentype'), url('/assets/fonts/eot/CamptonMedium.eot') format('eot');
    font-style: normal;
}

@font-face {
    font-family: camptonSemibold;
    src: url('/assets/fonts/woff2/CamptonSemiBold.woff2') format('woff2'), url('/assets/fonts/woff/CamptonSemiBold.woff') format('woff'), url('/assets/fonts/otf/CamptonSemiBold.otf') format('opentype'), url('/assets/fonts/eot/CamptonSemiBold.eot') format('eot');
    font-style: normal;
}
