<nav ng-controller="navCtrl" class="nav" ng-show="isNavOpen && isMobile" ng-click="closeNav()" id="nav">


<div class="nav-close" ng-click="closeNav()">

</div>



<table class="nav-table">
  <tr class="nav-tr">
    <td class="nav-td">
      <div class="nav-wrapper">
        <ul class="nav-ul">
          <!-- <li class="nav-li"><a ng-click="navOpenArtist_m(); closeNav();">artists</a></li>
          <li class="nav-li"><a ng-click="navOpenRelease_m(); closeNav();">releases</a></li>
          <li class="nav-li"><a href="/press">press</a></li>

          <li class="nav-li"><a ng-click="openContact(); closeNav();">contact</a></li>
          <li class="nav-li"><a ng-click="openAbout(); closeNav();">about</a></li> -->
          <li class="nav-li"><a href="/artist">artists</a></li>
          <li class="nav-li"><a href="/release">releases</a></li>
          <li class="nav-li"><a href="/press">press</a></li>

          <!-- <li class="nav-li"><a ng-click="navOpenJournal(); closeNav();">journal</a></li> -->
          <li class="nav-li"><a href="/contact">contact</a></li>
          <li class="nav-li"><a href='/about'>about</a></li>
        </ul>

        <ul class="nav-share">
          <li class="nav-share-li"><a href="https://www.instagram.com/300ent/?hl=en" target="_blank">instagram</a></li>
          <li class="nav-share-li"><a href="https://twitter.com/300" target="_blank">twitter</a></li>
          <li class="nav-share-li"><a href="https://www.facebook.com/300ent/" target="_blank">facebook</a></li>
          <li class="nav-share-li"><a href="https://play.spotify.com/user/300ent./playlist/2sS4afzWcT47yevuw9Sn1f" target="_blank">spotify</a></li>
          <li class="nav-share-li"><a href="https://soundcloud.com/300-entertainment" target="_blank">soundcloud</a></li>
          <li class="nav-share-li"><a href="https://www.youtube.com/channel/UClO3VS7C-pHAoRh6fYddbLQ" target="_blank">youtube</a></li>
          <!-- <li class="nav-share-li"><a href="http://300entertainment.tumblr.com/" target="_blank">tumblr</a></li>
          <li class="nav-share-li"><a href="https://play.google.com/store/music/artist/Fetty_Wap?id=A75fr33wguw6lhenl7spxpeotum&hl=en" target="_blank">google play</a></li> -->
        </ul>



      </div>
    </td>
  </tr>
</table>




</nav>
